<script>
    import { Icon, Input,Field, Button, Container, Tag, Nav, Row, Col } from 'svelte-chota'
    import {
        mdiHistory,
        mdiStar,
        mdiFolderUpload,
        mdiDelete,
        mdiFolder,
        mdiFolderHome,
        mdiAccountCircle,
        mdiMagnify } from '@mdi/js';
    import { isActive, url, goto, redirect } from '@roxi/routify'
    import { onMount, beforeUpdate } from 'svelte';
    import Bibliotec from '../../lib/bibliotec/Bibliotec.svelte'
    import { logOut } from '../../utils/app.js'
    import { verifyCredentials } from '../../utils/api.js'
    import { progress } from '../../utils/store.js'

    progress.set(false)

    let notications = [{'title': 'bleh', action: event}]

    const links = [
        ['./home', 'My files', mdiFolderHome],
        ['./favorites', 'Favorites', mdiStar],
        ['./recent', 'Recent', mdiHistory],
    ]
</script>
<style lang="scss">
    :global(.main-nav) {
        padding: 5px 0 10px;
        a { padding: 0 }
        :global(.nav-left), :global(.nav-right){
            display: table;
            :global(.bibliotec), :global(div){
                display: table-cell;
                vertical-align: middle;
            }
            :global(.bibliotec){
                text-align: left;
            }
            :global(div){
                text-align: right;
            }
        }
        :global(.search-box p.message) { display: none }
    }
    :global(.content-container){
        height: 100%;
        max-width: unset;
        margin: 0;
        padding: 0;
        :global(.row) {
            height: 100%;
        }
        :global(.col-2){
            max-width: unset;
            min-width: 285px;
        }
    }
    :global(.header-container){
        max-width: unset;
        margin: auto;
        padding: 0 50px;
        width: 100%;
    }
    .side-menu-col{
        width: 100%;
    }
    .side-menu{
        margin: 0;
        padding: 0;
        li {
            display: block;
            a :global(svg) { margin-right: 10px }
            a{
                width: 100%;
                margin: 0;
                padding-left: 50px;
            }
            :global(.upload-btn){
                color: rgb(186, 76, 76);
            }
        }
    }
</style>
<Container class="header-container">
    <Nav class="main-nav">
        <svelte:fragment slot="left">
            <Bibliotec on:click={$goto('/web/home')}/>
        </svelte:fragment>
        <Field style="width: 100%" class="search-box" slot="center" gapless>
            <Input placeholder="Search"/>
            <Button icon={mdiMagnify} primary/>
        </Field>
        <div slot="right">
            {#await verifyCredentials() then r}
                <Button dropdown={r.username} outline autoclose icon={mdiAccountCircle}>
                    <p><a>Preferences</a></p>
                    <p><a href="https://gitlab.com/bibliotec/docs/-/wikis/Home" target="_blank">Help</a></p>
                    <hr>
                    <p>
                        <a class="text-error" on:click={ logOut().then(() => { $redirect('/') })}>Sign out</a>
                    </p>
                </Button>
            {/await}
            {#if notications.length > 0 }
            {:else}
            {/if}
        </div>
    </Nav>
</Container>
<hr class="is-marginless"/>
<Container class="content-container">
    <Row>
        <Col size="2" style="border-right: 1px solid rgba(0,0,0,.2)">
            <Nav class="is-full-width">
                <div slot=left class="side-menu-col">
                    <ul gapless class="side-menu">
                        <li>
                            <label>
                                <input directory multiple type="file" class="is-hidden" />
                                <a class="upload-btn"><Icon src={mdiFolderUpload} size=2/> New upload</a>
                            </label>
                        </li>
                    </ul>
                    <hr class="is-marginless"/>
                    <ul gapless class="side-menu">
                        {#each links as [path, name, icon]}
                        <li>
                            <a href={$url(path)} class:text-grey={$isActive(path)}>
                                <Icon src={icon} size=2/> {name}
                            </a>
                        </li>
                        {/each}
                    </ul>
                    <hr class="is-marginless"/>
                    <ul gapless class="side-menu">
                        <li><a href={$url('./trash')}><Icon src={mdiDelete} size=2/> Trash</a></li>
                    </ul>
                </div>
            </Nav>
        </Col>
        <Col>
            <slot/>
        </Col>
    </Row>
</Container>
