<script>
    import { Modal, Card, Button} from 'svelte-chota'

    export let error = ''

    $: errorKey = error.split(' ')[0]

    const errorMessages = {
        'access_denied': {
            title: 'Access denied',
            message: 'Failed to gain access to your account. Please try again.'
        },
        'instance_not_found': {
            title: 'Instance not found',
            message: 'The instance you entered could not be found. Please try again.'
        }
    }

    $: dialogVisible = typeof(errorMessages[error.split(' ')[0]]) !== 'undefined'

    const modal_hide = event => { dialogVisible = false; }
</script>
<Modal bind:open={dialogVisible}>
    <Card>
        <h4 slot="header">{errorMessages[errorKey].title}</h4>

        <p>{errorMessages[errorKey].message}</p>

        <div slot="footer" class="is-right">
            <Button primary on:click={modal_hide}>Continue</Button>
        </div>
    </Card>
</Modal>
