<!-- routify:options preload="proximity" -->
<script>
    import { progress } from '../utils/store.js'
    import { page, metatags } from '@roxi/routify'

    progress.set(false)

    let progressValue

    const unsubscribe = progress.subscribe(value => {
        progressValue = value;
    });

    $: metatags.title = `${$page.title} - Bibliotec`
</script>
<style>
</style>
<progress class:visible={progressValue}></progress>
<slot />
