<script>
    import { Modal, Button, Card } from 'svelte-chota';
	import { goto } from '@roxi/routify'

    import { getToken, logOut } from '../utils/app.js'


    const q = new URLSearchParams(window.location.search);

    let error = q.get('error') !== null

    if (!error){
		try{
        	getToken(q.get('code'))
			$goto('/web/home')
		}catch(e){
			logOut()
			$goto('/')
		}
	}

</script>
<Modal bind:open={error}>
    <Card>
        <h4 slot="header">Failure</h4>

        <p>Failed to sign into your account. Please try again.</p>

        <div slot="footer" class="is-right">
            <Button primary on:click={logOut}>Sign in</Button>
        </div>
    </Card>
</Modal>
