<!-- routify:options title="Sign in"-->
<script>
    import { params, goto, redirect } from '@roxi/routify'
    import { Modal, Container, Card, Field, Input, Button} from 'svelte-chota'

    import Bibliotec from '../lib/bibliotec/Bibliotec.svelte'
    import ErrorDialog from '../lib/dialogs/ErrorDialog.svelte'
    import { registerApp, generateToken } from '../utils/app.js'
    import { verifyCredentials } from '../utils/api.js'
    import { progress } from '../utils/store.js';

    let instanceHost = 'http://localhost:8001'

    const validHostRegex = new RegExp(/^\w{3,}\.\w{2,}$|^http:\/\/localhost.+$/)

    let exportError = $params.error

    $: error = !validHostRegex.test(instanceHost)

    $: success = !error

    const hasCode = typeof($params.code) !== 'undefined'

    if (hasCode) generateToken($params.code).then(() => { $redirect('/web/home') })

    else verifyCredentials()
            .then(() => $redirect('/web/home/'))
            .catch(e => {})

    const login = (e) => {
        e.preventDefault()
        registerApp(instanceHost)
            .catch(() => {exportError = `instance_not_found ${new Date().getTime()}`})
    }
</script>
<style lang="scss">
    .login {
        margin:20px auto;
        max-width: 300px
    }
    :global(.login){
        :global(.button){
            width: 100%;
            display: block
        }
        :global(.nomessage .message){
            display: none
        }
        :global(.bibliotec){
            padding: 20px 0;
            margin: auto;
        }
    }

</style>
<Container>
    <div class="login">
        <Bibliotec on:click={$goto('/')} class="bibliotec"/>
        <form on:submit={login}>
            <Field {success} {error}>
                <label>
                Instance host
                <Input required placeholder="E.g.: bibliotec.example" bind:value={instanceHost}/>
                </label>
            </Field>
        </form>
        <Button disabled={hasCode || error } primary on:click={login}>Sign in</Button>
    </div>
</Container>
<ErrorDialog error={exportError}/>
