<script>
</script>
<style>
    h1 {
        text-align: center;
        padding: 0;
    }
    .bibliotec {
        color: rgb(70, 70, 70);
        text-decoration: none;
        cursor: pointer;
        font-size: 22px;
		margin: 0;
        font-weight: normal;
    }
</style>
<h1 class="bibliotec">
    📘 Bibliotec
</h1>
