/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
progress { display: block; margin-top: -5px; width: 100%; position: relative; visibility: hidden; }
.visible { visibility: visible }
body { overflow-y: hidden }
