<script>
  import { Router } from "@roxi/routify";
  import { routes } from "../.routify/routes";
  import 'chota';
</script>
<style>
    :global(:root){
        --color-primary: rgb(76, 186, 104);
    }
</style>

<Router {routes} />
